title = "Utility"

[[config]]
name = "LOG_LEVEL"
type = "choice"
default = "Info"
desc = "Kernel Log Level"
options = ["Trace", "Debug", "Info", "Warn", "Error"]
help = "Sets the maximum log level for the kernel logger."

[[config]]
name = "TIMEZONE"
type = "int"
default = +8
desc = "Timezone"
help = "Timezone offset from UTC (in hours)."
rust_type = "i8"

[[config]]
name = "TIMER_PERIOD_MS"
type = "int"
default = 10
desc = "Timer Period (ms)"
help = "The period of the system timer in milliseconds."
rust_type = "u64"
